PyMuPDF
pytesseract
pdf2image
python-dotenv
regex
pandas
scikit-learn
joblib
argparse
shutil
transformers


Frontend (src)
{
  "dependencies": {
    "@tanstack/react-query": "^5.14.6",
    "@testing-library/jest-dom": "^5.17.0",
    "@testing-library/react": "^13.4.0",
    "@testing-library/user-event": "^13.5.0",
    "axios": "^1.6.2",
    "framer-motion": "^10.16.16",
    "react": "^18.2.0",
    "react-dom": "^18.2.0",
    "react-icons": "^4.12.0",
    "react-router-dom": "^6.21.1",
    "react-scripts": "5.0.1",
    "web-vitals": "^2.1.4"
  },
  "devDependencies": {
    "tailwindcss": "^3.4.0"
  }
}

Backend (api)
{
  "dependencies": {
    "cookie-parser": "^1.4.6",
    "express": "^4.18.2",
    "multer": "^1.4.5-lts.1",
    "nodemon": "^3.0.2",
    "pg": "^8.11.3",
    "python-shell": "^5.0.0"
  }
}
