.upload-field .btn-field {
    display: flex;
    align-items: center;
    padding: 5vh 0;
}
.upload-field .btn{
    width: 14rem;
    background-color: #dfdede;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    transition: background-color .3s ease-in;
    font-weight: bold;
}
.upload-field .alert {
    height: 5dvh;
    width: fit-content;
    margin: auto 0;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;
    border: none;
    margin-top: -2.5rem;
}
.upload-field .btn-success:hover {
    background-color: #58181f;
    color: white;
}
.upload-field .btn-default {
    width: 25rem;
    margin: auto 2rem;
    transition: background-color .3s ease-in;
}
.upload-field .btn-field .btn-default input {
    font-weight: bold;
    cursor: pointer;
}
.upload-field .btn-default:hover {
    background-color: darkgray;
}
.card {
    width: 44%;
    margin-left: 2rem;
    overflow-x: auto;
}
.documents {
    display: flex;
    width: 100%;
    height: 73dvh;
}
.documents .analysis {
    height: 70dvh;
    width: 40%;
    display: grid;
    justify-content: left;
    margin-left: 10rem;
}
.documents .analysis .flag-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.documents .analysis .red-flag, .orange-flag, .green-flag {
    height: 23dvh;
    border: 1px solid pink;
    width: 37vw;
    border-radius: 16px;
    color: white;
    padding: 0 0 .5rem 0;
}
.documents .analysis .red-flag {
    border: 3px solid red;
    background-color: rgba(90, 0, 0, .5);
}
.documents .analysis .red-flag h6 {
    color: red;
}
.documents .analysis .orange-flag {
    border: 3px solid orange;
    background-color: rgba(255, 165, 0, .5);
}
.documents .analysis .orange-flag h6 {
    color: orange;
}
.documents .analysis .green-flag {
    border: 3px solid green;
    background-color: rgba(0, 90, 0, .5);
}
.documents .analysis .green-flag h6 {
    color: green;
}
.documents .analysis .flag-top button {
    font-size: 1rem;
    margin-bottom: .2rem;
    border: none;
    background-color: transparent;
    color: white;   
}
.dropdown {
    display: inline-block;
    position: relative;
    margin-bottom: 1rem;
}
.dropbtn {
    width: 100%;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: .5rem 1rem .1rem 1rem;
    border-radius: 16px;
    border: none;
}
.dropbtn h6 {
    font-weight: bold;
}