.shadow-blue {
  box-shadow: 0 10px 20px 3px rgba(0, 0, 255, 0.2),
    0 2px 81px -1px rgba(0, 0, 255, 0.06);
}
.shadow-black {
  box-shadow: 0 10px 20px 3px rgba(0, 0, 0, 0.2),
    0 2px 81px -1px rgba(0, 0, 255, 0.06);
}

.responsive-image {
  display: block;
}

/* Media query to hide the image on screens smaller than 700px */
@media (max-width: 700px) {
  .responsive-image {
    display: none;
  }
}

/* Loader Styles */
.loader {
  width: 200px;
  aspect-ratio: 1;
  background: 
    linear-gradient(45deg,#6B21E5 50%,#0000 0),
    linear-gradient(45deg,#0000 50%,#6B21E5 0),
    linear-gradient(-45deg,#FB8569 50%,#0000 0),
    linear-gradient(-45deg,#0000 50%,#FB8569 0),
    linear-gradient(#FBB831 0 0);
  background-size: 50% 50%;
  background-repeat: no-repeat;
  animation: l18 1.5s infinite;
}
@keyframes l18{
  0%   {background-position:50% 50%,50% 50%,50%  50% ,50% 50%,50% 50%}
  25%  {background-position:0  100%,100%  0,50%  50% ,50% 50%,50% 50%}
  50%  {background-position:0  100%,100%  0,100% 100%,0   0  ,50% 50%}
  75%  {background-position:50% 50%,50% 50%,100% 100%,0   0  ,50% 50%}
  100% {background-position:50% 50%,50% 50%,50%  50% ,50% 50%,50% 50%}
}

/* Dark mode styles */
.dark-mode {
  background-color: #333;
  color: #fff;
}

/* Light mode styles */
.light-mode {
  background-color: #fff;
  color: #333;
}

.custom-bg {
  background-image: url('/bg_grid.png');
  background-size: cover; 
  background-repeat: no-repeat; 
}
